body[ytme] {
  --ytd-masthead-height: 0px !important;
  --ytd-toolbar-height: 0px !important;
  #page-manager.ytd-app {
    margin-top: 0px;
  }
  ytd-watch-flexy[theater] #player-theater-container.ytd-watch-flexy,
  ytd-watch-flexy[fullscreen] #player-theater-container.ytd-watch-flexy {
    max-height: 100vh;
    height: 100vh;
    width: 100%;
    video {
      top: 0px !important;
      left: 0px !important;
      height: 100vh !important;
      width: 100% !important;
      object-fit: contain !important;
    }
  }
  #masthead-container:not(.active) {
    #page-manager.ytd-app {
      margin-top: 0px;
    }
    #container.ytd-masthead,
    #background.ytd-masthead {
      transform: translateY(-100%);
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  #masthead-container:hover {
    #container.ytd-masthead,
    #background.ytd-masthead {
      transform: translateY(0%);
    }
  }
  .ytme-btn {
    &.active {
      path {
        fill: red;
      }
      span {
        color: red;
      }
    }
    &.hide{
      display: none;
    }
  }
  .ytme-text-btn {
    & > *:not(.ytme-option-list) {
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: 700;
      display: table;
      text-align: center;
      vertical-align: middle;
    }
    .ytme-option-list{
      position: absolute;
      overflow: hidden;
      background-color: #ffffffb0;
      color: #000;
      width: auto;
      height: auto;
      border-radius: 8px;
      margin-bottom: auto;
      .option-item{
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        .ytme-ball{
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #6e6e6ecf;
        }
        &:hover{
          color: #ad0000cf;
          background-color: #fff;
        }
        &.active{
          color: #ad0000cf;
          .ytme-ball{
            background-color: #ad0000cf;
          }
        }
      }
    }
  }
}
body[ytme-hide] {
  .ytp-bezel-text-hide {
    display: none !important;
  }
}
